html lang="en">
    <%- include('./partials/head.ejs') %>
    <body>
        <%- include('./partials/nav.ejs') %>
        <div class="allAnimalsPage">
            <form action="/animals" method="POST">
                <h2>Animals: </h2>
                <table>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Common Name</th>
                        <th>Scientific Name</th>
                        <th>Age</th>
                    </tr>
                    <% if (theAnimals.length > 0) { %>
                        <% theAnimals.forEach(animal => { %>
                        <tr>
                            <td><%= animal.animal_id %></td>
                            <td><%= animal.nickname%></td>
                            <td><%= animal.common_name%></td>
                            <td><%= animal.scientific_name%></td>
                            <td>&nbsp;&nbsp;<%= animal.age%></td>
                            <% }) %>
                            <br>
                        </tr>
                </table>
            
         </div>
        
            <% } %>
        </form>
        </div>
    </body>
    <%- include('./partials/foot.ejs') %>
</html>