<html lang="en">
    <%- include('./partials/head.ejs') %>
    <body>
        <%- include('./partials/nav.ejs') %>
        Please sign in
        
        <%- include('./partials/status.ejs') %>
    </body>
    <%- include('./partials/auth.ejs') %>
    <%- include('./partials/foot.ejs') %>
   
</html>