<html lang="en">
    <%- include('./partials/head.ejs') %>
    <body>
        

        <h1>Home Page</h2>

        <%- include('./partials/nav.ejs') %>
        <h2>Welcome to our Zoo Animal Search Engine</h3>


        <%- include('./partials/status.ejs') %>

        <br>
        <br>
        
        <%- include('./partials/auth.ejs') %>
        <br>

        <br>
    </body>
    
    <%- include('./partials/foot.ejs') %>
   
</html>